---
kind: Secret
apiVersion: v1
metadata:
  name: etcd-ca
  namespace: kube-system
type: Opaque
data:
  ca.pem: {{ etcd_cacert_base64 }}
---
kind: Secret
apiVersion: v1
metadata:
  name: etcd
  namespace: kube-system
type: kubernetes.io/tls
data:
  tls.crt: {{ etcd_cert_base64 }}
  tls.key: {{ etcd_key_base64 }}
